NODE_ENV=production
GOOGLE_OAUTH_CLIENT_ID=12345ABCDE
GOOGLE_OAUTH_CLIENT_SECRET=12345ABCDE
GOOGLE_OAUTH_AUTHORIZED_USER_ID=12345ABCDE
SITE_DOMAIN=example.com
SESSION_SECRET=12345ABCDE
PUBLIC_PATH=/var/www/example
SOURCE_JSON=/usr/share/bwog/blog.json
AUTHOR_NAME=Alice Smith
AUTHOR_EMAIL=author@example.com
AP_HANDLE=author@example.com
AP_USERNAME=author
AP_PUBLIC_KEY_STRING="-----BEGIN PUBLIC KEY-----\nabc123\n-----END PUBLIC KEY-----"
AP_PRIVATE_KEY_STRING="-----BEGIN PRIVATE KEY-----\nabc123\n-----END PRIVATE KEY-----"
