map $arg_resource $webfinger_resource {
	"acct:username@example.com" /ap/webfinger.json;
	"acct%3Ausername%40example.com" /ap/webfinger.json;
}

map $arg_page $outbox {
	"" /ap/outbox.json;
	"~^(?<i>[0-9]+-[0-9]+)?" /ap/outbox_pages/$i.json;
}

map $uri $note_id {
	"~^/ap/notes/(?<id>.+)$" $id;
}

map $arg_activity $notes {
	"true" /ap/creates/$note_id.json;
	default /ap/notes/$note_id.json;
}

server {
	listen 443 ssl;
	ssl_certificate /etc/ssl/certs/example.com.crt;
	ssl_certificate_key /etc/ssl/private/example.com.key;

	server_name example.com;
	root /var/www/example;
	index index.html;

	location / {
		try_files $uri.html $uri $uri/ =404;
	}

	location ~ ^/(post|login|logout|oauth2/redirect/google) {
		proxy_pass http://localhost:3000;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection 'upgrade';
		proxy_set_header Host $host;
		proxy_cache_bypass $http_upgrade;
	}

	location /.well-known/webfinger {
		default_type "application/jrd+json";
		try_files $webfinger_resource =404;
	}

	location /ap {
		types { } default_type "application/activity+json";
		try_files $uri.json =404;
	}

	location /ap/outbox {
		types { } default_type "application/activity+json";
		try_files $outbox =404;
	}

	location /ap/notes {
		types { } default_type "application/activity+json";
		try_files $notes =404;
	}
}
